AWSTemplateFormatVersion: '2010-09-09'
Description: EC2 with NGINX path-based routing for all planets

Parameters:
  KeyName:
    Type: AWS::EC2::KeyPair::KeyName
    Description: Existing EC2 Key Pair

Resources:

  NginxSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Allow HTTP
      VpcId: vpc-005c301b3bf646685
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 0.0.0.0/0

  NginxEC2:
    Type: AWS::EC2::Instance
    Properties:
      InstanceType: t2.micro
      KeyName: !Ref KeyName
      ImageId: ami-0b818a04bc9c2133c
      SecurityGroupIds:
        - !Ref NginxSecurityGroup
      UserData:
        Fn::Base64: |
          #!/bin/bash
          yum update -y
          amazon-linux-extras enable nginx1
          yum install -y nginx

          cat << 'EOF' > /etc/nginx/nginx.conf
          user nginx;
          worker_processes auto;
          error_log /var/log/nginx/error.log notice;
          pid /run/nginx.pid;
          include /usr/share/nginx/modules/*.conf;

          events { worker_connections 1024; }

          http {
              log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                              '$status $body_bytes_sent "$http_referer" '
                              '"$http_user_agent" "$http_x_forwarded_for"';

              access_log /var/log/nginx/access.log main;
              sendfile on;
              tcp_nopush on;
              keepalive_timeout 65;
              types_hash_max_size 4096;

              include /etc/nginx/mime.types;
              default_type application/octet-stream;

              server {
                  listen 80;
                  server_name _;
                  root /usr/share/nginx/html;
                  index index.html;

                  location /mercury { try_files /mercury.html =404; }
                  location /venus   { try_files /venus.html   =404; }
                  location /earth   { try_files /earth.html   =404; }
                  location /moon    { try_files /moon.html    =404; }
                  location /mars    { try_files /mars.html    =404; }
                  location /jupiter { try_files /jupiter.html =404; }
                  location /saturn  { try_files /saturn.html  =404; }
                  location /uranus  { try_files /uranus.html  =404; }
                  location /neptune { try_files /neptune.html =404; }
              }
          }
          EOF

          cd /usr/share/nginx/html
          for planet in mercury venus earth moon mars jupiter saturn uranus neptune
          do
            echo "<h1>Welcome to $planet</h1>" > $planet.html
          done

          systemctl enable nginx
          systemctl restart nginx

Outputs:
  WebsiteURL:
    Description: Access the planets website
    Value: !Sub "http://${NginxEC2.PublicDnsName}"
